body {
    background-color: #7effd4;
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
    padding-left: 5px;
    padding-bottom: 10px;
}

h1 {
    padding: 20px 0 0 0;
    margin: 0;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 81%;
    padding: 35px 35px 35px 5px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 15px 25px 0;
}

.label {
    display: flex;
    justify-content: flex-end;
}

.input {
    display: flex;
    justify-content: flex-end;
    width: 81%;
}

input, textarea {
    font-size: .9em;
    border: 2px solid #cccccc;
    border-radius: 7px;
    padding: 10px;
    margin: 0 0 0 10px;
}

#first-name, #last-name, #email, #comments {
    width: 100%;
}

#street-address {
    width: 40%;
}

#city, #state, #zip-code {
    width: 20%;
}
.desired-start {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin-left: 20%;
}

#start-date, #start-time {
    min-width: 100px;
    margin: 0 10px 0 10px;
}

#paint-color {
    width: 7%;
    min-width: 50px;
}

textarea {
    height: 230px;
}

button {
    font-size: .8em;
    padding: 4px 10px;
}
